body {
    font-family: Arial, sans-serif;
    background-color: #66c2a5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #66c2a5;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    color: #ffffff;
    background-color: #333333;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    background-color: #555555;
}
